html, body {
  background-image:url(../images/crossline-lines.png);
  background-color:#eaeaea;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

header {
  background-color:#ffffff;
  padding: 50px;
  text-align: center;
  border: 2px #cccccc;
}



h1 {
  width: 300px;
  border: 25px;
  padding: 25px;
  text-align: left;
  background-color:#4aaaa5;
  float: left;
  margin: auto;
  font-family: Georgia;
  color: #ffffff
}

.bar {
    text-align: right;
    margin: auto;
    color: #777777;
    font-family: Arial;
}


.about_me {
  color: #4aaaa5;
  font-family: Georgia;
  text-align: left;
}

img {
  float: left;
  margin-right: 10px;
}

.text {
  color:#777777;
  float: right;
  font-family: Arial;
  border: 2px #dddddd;
  padding: 20px;
  background-color:white;
  margin: auto;
  text-align: center;

  /*
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
}


footer {
  background-color:#666666;
  padding: 10px;
  text-align: center;
  color: white;
  border-top: 8px solid #4aaaa5
}

